In [1]:
import pandas as pd
import csv
import json
import re

refperiod = "23q3"

# Extract the year and quarter using regular expressions
match = re.match(r'(\d{2})q(\d)', refperiod)

if match:
    year = match.group(1)
    quarter = int(match.group(2))
    
    # Calculate the start month
    start_month = str((quarter - 1) * 3 + 1).zfill(2)
    
    # Calculate the end month
    end_month = str(quarter * 3).zfill(2)
    
    # Combine the year and month to get the desired format
    startMonthID = start_month + year
    endMonthID = end_month + year
    
    print("Start Month:", startMonthID)
    print("End Month:", endMonthID)
else:
    print("Invalid refperiod format.")

Start Month: 0723
End Month: 0923

In [2]:
df = pd.read_csv(f'transaction_resi_converted_raw_csv_{refperiod}.csv', converters = {'leaseDate': str, 'noOfBedRoom': str, 'district':int})
df

,areaSqm,leaseDate,propertyType,district,areaSqft,noOfBedRoom,rent,project,street,y,x
0,180-190,0823,Non-landed Properties,23,2000-2100,4,4500,MERAWOODS,HILLVIEW AVENUE,37591.36252,19806.57039
1,180-190,0823,Non-landed Properties,23,2000-2100,4,7000,MERAWOODS,HILLVIEW AVENUE,37591.36252,19806.57039
2,130-140,0823,Non-landed Properties,23,1500-1600,2,3730,MERAWOODS,HILLVIEW AVENUE,37591.36252,19806.57039
3,120-130,0723,Non-landed Properties,23,1300-1400,3,5050,MERAWOODS,HILLVIEW AVENUE,37591.36252,19806.57039
4,120-130,0723,Non-landed Properties,23,1300-1400,3,4300,MERAWOODS,HILLVIEW AVENUE,37591.36252,19806.57039
...,...,...,...,...,...,...,...,...,...,...,...
16947,40-50,0823,Non-landed Properties,8,500-600,2,4000,UPTOWN @ FARRER,PERUMAL ROAD,32796.58779,30477.87296
16948,60-70,0823,Non-landed Properties,8,600-700,3,5600,UPTOWN @ FARRER,PERUMAL ROAD,32796.58779,30477.87296
16949,40-50,0723,Non-landed Properties,8,500-600,2,4000,UPTOWN @ FARRER,PERUMAL ROAD,32796.58779,30477.87296
16950,40-50,0723,Non-landed Properties,8,500-600,2,3800,UPTOWN @ FARRER,PERUMAL ROAD,32796.58779,30477.87296
16951,40-50,0723,Non-landed Properties,8,500-600,2,4100,UPTOWN @ FARRER,PERUMAL ROAD,32796.58779,30477.87296

In [3]:
district_location_df = pd.read_csv('District_location.csv')
new_df = pd.merge(district_location_df, df,  how='left', left_on=['District'], right_on = ['district'])
new_df['District'] = new_df['District'].astype(int)
new_df

,District,Location,areaSqm,leaseDate,propertyType,district,areaSqft,noOfBedRoom,rent,project,street,y,x
0,1,Boat Quay / Raffles Place / Marina,50-60,0823,Non-landed Properties,1.0,500-600,1,6300.0,ONE SHENTON,SHENTON WAY,29077.65327,29912.41316
1,1,Boat Quay / Raffles Place / Marina,100-110,0823,Non-landed Properties,1.0,1100-1200,2,6200.0,ONE SHENTON,SHENTON WAY,29077.65327,29912.41316
2,1,Boat Quay / Raffles Place / Marina,140-150,0823,Non-landed Properties,1.0,1500-1600,3,7500.0,ONE SHENTON,SHENTON WAY,29077.65327,29912.41316
3,1,Boat Quay / Raffles Place / Marina,40-50,0823,Non-landed Properties,1.0,500-600,1,4300.0,ONE SHENTON,SHENTON WAY,29077.65327,29912.41316
4,1,Boat Quay / Raffles Place / Marina,50-60,0823,Non-landed Properties,1.0,600-700,1,4300.0,ONE SHENTON,SHENTON WAY,29077.65327,29912.41316
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16948,28,Seletar / Yio Chu Kang,70-80,0723,Non-landed Properties,28.0,700-800,2,4000.0,PARC BOTANNIA,FERNVALE STREET,42215.38018,32660.19364
16949,28,Seletar / Yio Chu Kang,60-70,0723,Non-landed Properties,28.0,600-700,2,3700.0,PARC BOTANNIA,FERNVALE STREET,42215.38018,32660.19364
16950,28,Seletar / Yio Chu Kang,80-90,0723,Non-landed Properties,28.0,800-900,3,4200.0,PARC BOTANNIA,FERNVALE STREET,42215.38018,32660.19364
16951,28,Seletar / Yio Chu Kang,50-60,0723,Non-landed Properties,28.0,500-600,2,3600.0,PARC BOTANNIA,FERNVALE STREET,42215.38018,32660.19364
16952,28,Seletar / Yio Chu Kang,30-40,0723,Non-landed Properties,28.0,400-500,1,3000.0,PARC BOTANNIA,FERNVALE STREET,42215.38018,32660.19364

In [4]:
new_df = new_df[new_df.propertyType.isin(["Non-landed Properties", "Executive Condominium"])]
new_df = new_df[new_df.noOfBedRoom.isin(["1","2","3","4","5"])]
new_df

,District,Location,areaSqm,leaseDate,propertyType,district,areaSqft,noOfBedRoom,rent,project,street,y,x
0,1,Boat Quay / Raffles Place / Marina,50-60,0823,Non-landed Properties,1.0,500-600,1,6300.0,ONE SHENTON,SHENTON WAY,29077.65327,29912.41316
1,1,Boat Quay / Raffles Place / Marina,100-110,0823,Non-landed Properties,1.0,1100-1200,2,6200.0,ONE SHENTON,SHENTON WAY,29077.65327,29912.41316
2,1,Boat Quay / Raffles Place / Marina,140-150,0823,Non-landed Properties,1.0,1500-1600,3,7500.0,ONE SHENTON,SHENTON WAY,29077.65327,29912.41316
3,1,Boat Quay / Raffles Place / Marina,40-50,0823,Non-landed Properties,1.0,500-600,1,4300.0,ONE SHENTON,SHENTON WAY,29077.65327,29912.41316
4,1,Boat Quay / Raffles Place / Marina,50-60,0823,Non-landed Properties,1.0,600-700,1,4300.0,ONE SHENTON,SHENTON WAY,29077.65327,29912.41316
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16948,28,Seletar / Yio Chu Kang,70-80,0723,Non-landed Properties,28.0,700-800,2,4000.0,PARC BOTANNIA,FERNVALE STREET,42215.38018,32660.19364
16949,28,Seletar / Yio Chu Kang,60-70,0723,Non-landed Properties,28.0,600-700,2,3700.0,PARC BOTANNIA,FERNVALE STREET,42215.38018,32660.19364
16950,28,Seletar / Yio Chu Kang,80-90,0723,Non-landed Properties,28.0,800-900,3,4200.0,PARC BOTANNIA,FERNVALE STREET,42215.38018,32660.19364
16951,28,Seletar / Yio Chu Kang,50-60,0723,Non-landed Properties,28.0,500-600,2,3600.0,PARC BOTANNIA,FERNVALE STREET,42215.38018,32660.19364
16952,28,Seletar / Yio Chu Kang,30-40,0723,Non-landed Properties,28.0,400-500,1,3000.0,PARC BOTANNIA,FERNVALE STREET,42215.38018,32660.19364

In [5]:
df_25th = new_df.groupby(['district', 'Location', 'noOfBedRoom']).quantile(.25).rename(columns={"rent": "25th_rental"})
df_50th = new_df.groupby(['district', 'Location', 'noOfBedRoom']).quantile(.50).rename(columns={"rent": "50th_rental"})
df_75th = new_df.groupby(['district', 'Location', 'noOfBedRoom']).quantile(.75).rename(columns={"rent": "75th_rental"})

/var/folders/n5/1wkddp5s2nl935zfz5y7tg480000gn/T/ipykernel_7127/3409170636.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.quantile is deprecated. In a future version, a TypeError will be raised. Before calling .quantile, select only columns which should be valid for the function.
  df_25th = new_df.groupby(['district', 'Location', 'noOfBedRoom']).quantile(.25).rename(columns={"rent": "25th_rental"})
/var/folders/n5/1wkddp5s2nl935zfz5y7tg480000gn/T/ipykernel_7127/3409170636.py:2: FutureWarning: Dropping invalid columns in DataFrameGroupBy.quantile is deprecated. In a future version, a TypeError will be raised. Before calling .quantile, select only columns which should be valid for the function.
  df_50th = new_df.groupby(['district', 'Location', 'noOfBedRoom']).quantile(.50).rename(columns={"rent": "50th_rental"})
/var/folders/n5/1wkddp5s2nl935zfz5y7tg480000gn/T/ipykernel_7127/3409170636.py:3: FutureWarning: Dropping invalid columns in DataFrameGroupBy.quantile is deprecated. In a future version, a TypeError will be raised. Before calling .quantile, select only columns which should be valid for the function.
  df_75th = new_df.groupby(['district', 'Location', 'noOfBedRoom']).quantile(.75).rename(columns={"rent": "75th_rental"})

In [6]:
final_df = pd.concat([df_25th] + [df_50th] + [df_75th], axis=1)
final_df

                                                           District  \
district Location                             noOfBedRoom
1.0      Boat Quay / Raffles Place / Marina   1                 1.0
                                              2                 1.0
                                              3                 1.0
                                              4                 1.0
                                              5                 1.0
...                                                             ...
27.0     Admiralty Drive / Sembawang / Yishun 4                27.0
28.0     Seletar / Yio Chu Kang               1                28.0
                                              2                28.0
                                              3                28.0
                                              4                28.0

                                                           25th_rental  \
district Location                             noOfBedRoom
1.0      Boat Quay / Raffles Place / Marina   1                 4300.0
                                              2                 5600.0
                                              3                 8150.0
                                              4                13500.0
                                              5                42000.0
...                                                                ...
27.0     Admiralty Drive / Sembawang / Yishun 4                 4750.0
28.0     Seletar / Yio Chu Kang               1                 2800.0
                                              2                 3300.0
                                              3                 3800.0
                                              4                 4175.0

                                                                      y  \
district Location                             noOfBedRoom
1.0      Boat Quay / Raffles Place / Marina   1            28860.642930
                                              2            28860.642930
                                              3            29023.400685
                                              4            29129.943300
                                              5            29129.943300
...                                                                 ...
27.0     Admiralty Drive / Sembawang / Yishun 4            44289.757415
28.0     Seletar / Yio Chu Kang               1            41538.795570
                                              2            41610.681820
                                              3            41156.033220
                                              4            41152.563035

                                                                      x  \
district Location                             noOfBedRoom
1.0      Boat Quay / Raffles Place / Marina   1            29565.491150
                                              2            29770.541660
                                              3            29770.541660
                                              4            30086.502680
                                              5            30404.372770
...                                                                 ...
27.0     Admiralty Drive / Sembawang / Yishun 4            27769.403415
28.0     Seletar / Yio Chu Kang               1            32046.003680
                                              2            32589.946520
                                              3            31267.616752
                                              4            31353.112220

                                                           District  \
district Location                             noOfBedRoom
1.0      Boat Quay / Raffles Place / Marina   1                 1.0
                                              2                 1.0
                                              3                 1.0
                                              4                 1.0
                                              5                 1.0
...                                                             ...
27.0     Admiralty Drive / Sembawang / Yishun 4                27.0
28.0     Seletar / Yio Chu Kang               1                28.0
                                              2                28.0
                                              3                28.0
                                              4                28.0

                                                           50th_rental  \
district Location                             noOfBedRoom
1.0      Boat Quay / Raffles Place / Marina   1                 4800.0
                                              2                 6500.0
                                              3                 9500.0
                                              4                16500.0
                                              5                42000.0
...                                                                ...
27.0     Admiralty Drive / Sembawang / Yishun 4                 5200.0
28.0     Seletar / Yio Chu Kang               1                 3000.0
                                              2                 3500.0
                                              3                 4000.0
                                              4                 4600.0

                                                                      y  \
district Location                             noOfBedRoom
1.0      Boat Quay / Raffles Place / Marina   1            29089.900100
                                              2            29129.943300
                                              3            29208.569540
                                              4            29208.569540
                                              5            29129.943300
...                                                                 ...
27.0     Admiralty Drive / Sembawang / Yishun 4            45847.360195
28.0     Seletar / Yio Chu Kang               1            42096.319570
                                              2            42096.319570
                                              3            41472.348710
                                              4            41472.348710

                                                                      x  \
district Location                             noOfBedRoom
1.0      Boat Quay / Raffles Place / Marina   1            30161.774710
                                              2            30161.774710
                                              3            30124.138695
                                              4            30161.774710
                                              5            30404.372770
...                                                                 ...
27.0     Admiralty Drive / Sembawang / Yishun 4            28287.228915
28.0     Seletar / Yio Chu Kang               1            32589.946520
                                              2            32660.193640
                                              3            32434.468490
                                              4            32434.468490

                                                           District  \
district Location                             noOfBedRoom
1.0      Boat Quay / Raffles Place / Marina   1                 1.0
                                              2                 1.0
                                              3                 1.0
                                              4                 1.0
                                              5                 1.0
...                                                             ...
27.0     Admiralty Drive / Sembawang / Yishun 4                27.0
28.0     Seletar / Yio Chu Kang               1                28.0
                                              2                28.0
                                              3                28.0
                                              4                28.0

                                                           75th_rental  \
district Location                             noOfBedRoom
1.0      Boat Quay / Raffles Place / Marina   1                 5300.0
                                              2                 7437.5
                                              3                11000.0
                                              4                18500.0
                                              5                42000.0
...                                                                ...
27.0     Admiralty Drive / Sembawang / Yishun 4                 5600.0
28.0     Seletar / Yio Chu Kang               1                 3100.0
                                              2                 3700.0
                                              3                 4325.0
                                              4                 4825.0

                                                                      y  \
district Location                             noOfBedRoom
1.0      Boat Quay / Raffles Place / Marina   1            29255.907680
                                              2            29255.907680
                                              3            29255.907680
                                              4            29208.569540
                                              5            29129.943300
...                                                                 ...
27.0     Admiralty Drive / Sembawang / Yishun 4            46401.572080
28.0     Seletar / Yio Chu Kang               1            42215.380180
                                              2            42096.319570
                                              3            42096.319570
                                              4            41910.052885

                                                                      x
district Location                             noOfBedRoom
1.0      Boat Quay / Raffles Place / Marina   1            30274.874880
                                              2            30246.599837
                                              3            30274.874880
                                              4            30274.874880
                                              5            30404.372770
...                                                                 ...
27.0     Admiralty Drive / Sembawang / Yishun 4            29233.916730
28.0     Seletar / Yio Chu Kang               1            32660.193640
                                              2            33266.441500
                                              3            32607.508300
                                              4            32730.330650

[120 rows x 12 columns]

In [7]:
final_df = pd.pivot_table(final_df, values = ['25th_rental','50th_rental','75th_rental'], index=['Location' , 'district'], columns = 'noOfBedRoom').sort_values(by='district', ascending = True).reset_index()
final_df['district'] = final_df['district'].astype(int)
final_df

                                                      Location district  \
noOfBedRoom
0                           Boat Quay / Raffles Place / Marina        1
1                          Anson / Shenton Way / Tanjong Pagar        2
2                            Alexandra / Redhill / Tiong Bahru        3
3                        Harbourfront / Keppel / Telok Blangah        4
4                          Buona Vista / Clementi / West Coast        5
5            Beach Road (part) / City Hall / North Bridge Road        6
6                          Beach Road / Bencoolen Road / Bugis        7
7                  Farrer Park / Little India / Serangoon Road        8
8                           Cairnhill / Orchard / River Valley        9
9               Bukit Timah / Holland Road / Orchard Boulevard       10
10                              Dunearn Road / Newton / Novena       11
11                                       Balestier / Toa Payoh       12
12                       Braddell  / Macpherson / Potong Pasir       13
13                                Eunos / Geylang / Paya Lebar       14
14             East Coast / Joo Chiat / Katong / Marine Parade       15
15                        Bedok / Chai Chee / Upper East Coast       16
16                                     Changi / Flora / Loyang       17
17                                Pasir Ris / Simei / Tampines       18
18                                Hougang / Punggol / Sengkang       19
19                               Ang Mo Kio / Bishan / Thomson       20
20                Hume Avenue / Ulu Pandan / Upper Bukit Timah       21
21                                    Boon Lay / Jurong / Tuas       22
22                Bukit Batok  / Bukit Panjang / Choa Chu Kang       23
23                         Admiralty Road / Kranji / Woodlands       25
24                         Springleaf / Tagore / Upper Thomson       26
25                        Admiralty Drive / Sembawang / Yishun       27
26                                      Seletar / Yio Chu Kang       28

            25th_rental                                    50th_rental  \
noOfBedRoom           1        2       3        4        5           1
0                4300.0  5600.00  8150.0  13500.0  42000.0      4800.0
1                3700.0  4800.00  5266.0      NaN      NaN      4100.0
2                3650.0  4600.00  6000.0   7500.0   9000.0      3900.0
3                3650.0  5000.00  7500.0  12000.0  13125.0      3800.0
4                3350.0  4100.00  5200.0   6100.0   8217.5      3500.0
5                4800.0  5487.75     NaN      NaN      NaN      5000.0
6                4200.0  4450.00  5700.0  10500.0      NaN      5000.0
7                2962.5  3925.00  5000.0   6175.0      NaN      3150.0
8                3500.0  4800.00  6300.0   8000.0  10175.0      4100.0
9                3500.0  4600.00  6500.0  10000.0  14375.0      3750.0
10               3250.0  4300.00  5500.0   9000.0  10500.0      3500.0
11               3000.0  3600.00  4025.0   5700.0   6800.0      3100.0
12               3100.0  3900.00  5100.0   7225.0  12600.0      3400.0
13               2700.0  3400.00  4200.0   5862.5   7000.0      3000.0
14               2950.0  3800.00  4800.0   7500.0  10575.0      3300.0
15               2900.0  3500.00  4300.0   5800.0   8950.0      3200.0
16               2762.5  3325.00  3800.0   4900.0      NaN      2875.0
17               2800.0  3500.00  4000.0   4800.0   6005.0      3000.0
18               2800.0  3500.00  4100.0   4962.5      NaN      3000.0
19               3000.0  4000.00  4775.0   5950.0      NaN      3400.0
20               2900.0  3800.00  4500.0   5900.0      NaN      3200.0
21               3300.0  4025.00  4800.0   5825.0   7650.0      3500.0
22               2987.5  3500.00  4087.5   5200.0      NaN      3100.0
23               2600.0  3200.00  4000.0   5400.0      NaN      2700.0
24               2900.0  3200.00  3875.0   6300.0   7300.0      2900.0
25               2791.0  3350.00  3900.0   4750.0      NaN      3000.0
26               2800.0  3300.00  3800.0   4175.0      NaN      3000.0

                                              75th_rental                    \
noOfBedRoom       2       3        4        5           1        2        3
0            6500.0  9500.0  16500.0  42000.0      5300.0  7437.50  11000.0
1            5700.0  7738.0      NaN      NaN      4600.0  6050.00   9675.0
2            5000.0  6700.0   9250.0   9000.0      4100.0  5650.00   7800.0
3            5500.0  8800.0  14000.0  22000.0      4000.0  6200.00  10000.0
4            4400.0  5800.0   6800.0   9250.0      3800.0  4700.00   6300.0
5            5758.5     NaN      NaN      NaN      5200.0  6029.25      NaN
6            5000.0  6200.0  21500.0      NaN      5375.0  6800.00  10000.0
7            4300.0  5700.0   7250.0      NaN      3775.0  4600.00   6000.0
8            5671.0  7900.0  10500.0  14500.0      4800.0  6800.75   9900.0
9            5200.0  7600.0  13700.0  21000.0      4000.0  6000.00   9575.0
10           5050.0  6850.0  10500.0  10500.0      3800.0  6100.00   8025.0
11           3900.0  4700.0   5950.0   6800.0      3300.0  4200.00   5400.0
12           4200.0  5500.0   7800.0  12600.0      3500.0  4500.00   6300.0
13           4000.0  4650.0   7700.0   7500.0      3300.0  4500.00   5262.5
14           4500.0  6000.0   8500.0  13150.0      3700.0  5100.00   7000.0
15           3900.0  4825.0   6700.0   9500.0      3500.0  4200.00   5575.0
16           3600.0  4100.0   5050.0      NaN      3000.0  3800.00   4450.0
17           3700.0  4500.0   5300.0   6600.0      3100.0  4000.00   4775.0
18           3800.0  4500.0   5575.0      NaN      3200.0  4000.00   5150.0
19           4200.0  5200.0   6700.0      NaN      3800.0  4600.00   5800.0
20           4000.0  5000.0   7000.0      NaN      3500.0  4500.00   5825.0
21           4400.0  5100.0   6500.0   7800.0      3787.5  4637.50   5700.0
22           3800.0  4500.0   5900.0      NaN      3400.0  4000.00   5000.0
23           3500.0  4300.0   5800.0      NaN      2800.0  3800.00   4800.0
24           3400.0  4225.0   6500.0   7300.0      3000.0  3650.00   4725.0
25           3600.0  4200.0   5200.0      NaN      3037.5  3875.00   4500.0
26           3500.0  4000.0   4600.0      NaN      3100.0  3700.00   4325.0


noOfBedRoom        4        5
0            18500.0  42000.0
1                NaN      NaN
2            11500.0   9000.0
3            17000.0  24750.0
4             7661.0   9650.0
5                NaN      NaN
6            32500.0      NaN
7             7800.0      NaN
8            13500.0  16100.0
9            19987.5  29875.0
10           13000.0  10500.0
11            7125.0   6800.0
12            8250.0  12600.0
13            8500.0   8000.0
14           10000.0  17850.0
15            7300.0  10250.0
16            5100.0      NaN
17            6000.0   7500.0
18            6300.0      NaN
19            7600.0      NaN
20            7800.0      NaN
21            7150.0   8400.0
22            6500.0      NaN
23            7050.0      NaN
24            6500.0   7300.0
25            5600.0      NaN
26            4825.0      NaN

In [8]:
final_df.columns = final_df.columns.swaplevel(0, 1)
final_df.sort_index(axis=1, level=0, inplace=True)
final_df

noOfBedRoom                                                              \
                                                      Location district
0                           Boat Quay / Raffles Place / Marina        1
1                          Anson / Shenton Way / Tanjong Pagar        2
2                            Alexandra / Redhill / Tiong Bahru        3
3                        Harbourfront / Keppel / Telok Blangah        4
4                          Buona Vista / Clementi / West Coast        5
5            Beach Road (part) / City Hall / North Bridge Road        6
6                          Beach Road / Bencoolen Road / Bugis        7
7                  Farrer Park / Little India / Serangoon Road        8
8                           Cairnhill / Orchard / River Valley        9
9               Bukit Timah / Holland Road / Orchard Boulevard       10
10                              Dunearn Road / Newton / Novena       11
11                                       Balestier / Toa Payoh       12
12                       Braddell  / Macpherson / Potong Pasir       13
13                                Eunos / Geylang / Paya Lebar       14
14             East Coast / Joo Chiat / Katong / Marine Parade       15
15                        Bedok / Chai Chee / Upper East Coast       16
16                                     Changi / Flora / Loyang       17
17                                Pasir Ris / Simei / Tampines       18
18                                Hougang / Punggol / Sengkang       19
19                               Ang Mo Kio / Bishan / Thomson       20
20                Hume Avenue / Ulu Pandan / Upper Bukit Timah       21
21                                    Boon Lay / Jurong / Tuas       22
22                Bukit Batok  / Bukit Panjang / Choa Chu Kang       23
23                         Admiralty Road / Kranji / Woodlands       25
24                         Springleaf / Tagore / Upper Thomson       26
25                        Admiralty Drive / Sembawang / Yishun       27
26                                      Seletar / Yio Chu Kang       28

noOfBedRoom           1                                   2              \
            25th_rental 50th_rental 75th_rental 25th_rental 50th_rental
0                4300.0      4800.0      5300.0     5600.00      6500.0
1                3700.0      4100.0      4600.0     4800.00      5700.0
2                3650.0      3900.0      4100.0     4600.00      5000.0
3                3650.0      3800.0      4000.0     5000.00      5500.0
4                3350.0      3500.0      3800.0     4100.00      4400.0
5                4800.0      5000.0      5200.0     5487.75      5758.5
6                4200.0      5000.0      5375.0     4450.00      5000.0
7                2962.5      3150.0      3775.0     3925.00      4300.0
8                3500.0      4100.0      4800.0     4800.00      5671.0
9                3500.0      3750.0      4000.0     4600.00      5200.0
10               3250.0      3500.0      3800.0     4300.00      5050.0
11               3000.0      3100.0      3300.0     3600.00      3900.0
12               3100.0      3400.0      3500.0     3900.00      4200.0
13               2700.0      3000.0      3300.0     3400.00      4000.0
14               2950.0      3300.0      3700.0     3800.00      4500.0
15               2900.0      3200.0      3500.0     3500.00      3900.0
16               2762.5      2875.0      3000.0     3325.00      3600.0
17               2800.0      3000.0      3100.0     3500.00      3700.0
18               2800.0      3000.0      3200.0     3500.00      3800.0
19               3000.0      3400.0      3800.0     4000.00      4200.0
20               2900.0      3200.0      3500.0     3800.00      4000.0
21               3300.0      3500.0      3787.5     4025.00      4400.0
22               2987.5      3100.0      3400.0     3500.00      3800.0
23               2600.0      2700.0      2800.0     3200.00      3500.0
24               2900.0      2900.0      3000.0     3200.00      3400.0
25               2791.0      3000.0      3037.5     3350.00      3600.0
26               2800.0      3000.0      3100.0     3300.00      3500.0

noOfBedRoom                       3                                   4  \
            75th_rental 25th_rental 50th_rental 75th_rental 25th_rental
0               7437.50      8150.0      9500.0     11000.0     13500.0
1               6050.00      5266.0      7738.0      9675.0         NaN
2               5650.00      6000.0      6700.0      7800.0      7500.0
3               6200.00      7500.0      8800.0     10000.0     12000.0
4               4700.00      5200.0      5800.0      6300.0      6100.0
5               6029.25         NaN         NaN         NaN         NaN
6               6800.00      5700.0      6200.0     10000.0     10500.0
7               4600.00      5000.0      5700.0      6000.0      6175.0
8               6800.75      6300.0      7900.0      9900.0      8000.0
9               6000.00      6500.0      7600.0      9575.0     10000.0
10              6100.00      5500.0      6850.0      8025.0      9000.0
11              4200.00      4025.0      4700.0      5400.0      5700.0
12              4500.00      5100.0      5500.0      6300.0      7225.0
13              4500.00      4200.0      4650.0      5262.5      5862.5
14              5100.00      4800.0      6000.0      7000.0      7500.0
15              4200.00      4300.0      4825.0      5575.0      5800.0
16              3800.00      3800.0      4100.0      4450.0      4900.0
17              4000.00      4000.0      4500.0      4775.0      4800.0
18              4000.00      4100.0      4500.0      5150.0      4962.5
19              4600.00      4775.0      5200.0      5800.0      5950.0
20              4500.00      4500.0      5000.0      5825.0      5900.0
21              4637.50      4800.0      5100.0      5700.0      5825.0
22              4000.00      4087.5      4500.0      5000.0      5200.0
23              3800.00      4000.0      4300.0      4800.0      5400.0
24              3650.00      3875.0      4225.0      4725.0      6300.0
25              3875.00      3900.0      4200.0      4500.0      4750.0
26              3700.00      3800.0      4000.0      4325.0      4175.0

noOfBedRoom                                   5
            50th_rental 75th_rental 25th_rental 50th_rental 75th_rental
0               16500.0     18500.0     42000.0     42000.0     42000.0
1                   NaN         NaN         NaN         NaN         NaN
2                9250.0     11500.0      9000.0      9000.0      9000.0
3               14000.0     17000.0     13125.0     22000.0     24750.0
4                6800.0      7661.0      8217.5      9250.0      9650.0
5                   NaN         NaN         NaN         NaN         NaN
6               21500.0     32500.0         NaN         NaN         NaN
7                7250.0      7800.0         NaN         NaN         NaN
8               10500.0     13500.0     10175.0     14500.0     16100.0
9               13700.0     19987.5     14375.0     21000.0     29875.0
10              10500.0     13000.0     10500.0     10500.0     10500.0
11               5950.0      7125.0      6800.0      6800.0      6800.0
12               7800.0      8250.0     12600.0     12600.0     12600.0
13               7700.0      8500.0      7000.0      7500.0      8000.0
14               8500.0     10000.0     10575.0     13150.0     17850.0
15               6700.0      7300.0      8950.0      9500.0     10250.0
16               5050.0      5100.0         NaN         NaN         NaN
17               5300.0      6000.0      6005.0      6600.0      7500.0
18               5575.0      6300.0         NaN         NaN         NaN
19               6700.0      7600.0         NaN         NaN         NaN
20               7000.0      7800.0         NaN         NaN         NaN
21               6500.0      7150.0      7650.0      7800.0      8400.0
22               5900.0      6500.0         NaN         NaN         NaN
23               5800.0      7050.0         NaN         NaN         NaN
24               6500.0      6500.0      7300.0      7300.0      7300.0
25               5200.0      5600.0         NaN         NaN         NaN
26               4600.0      4825.0         NaN         NaN         NaN

In [9]:
final_df.to_csv(f'transactions_resi_price_index_{refperiod}.csv', na_rep='N/A', quoting=csv.QUOTE_NONE, index=False)